@model Department
@{
    ViewData["Title"] = "Edit Department";
}

<h1>Edit Department</h1>

<br />
<br />

<form asp-action="Edit">
    <partial name="PartialViews/CreateEditDepartmentPartial"></partial>
    <input type="submit" value="Save" class="btn btn-primary" /> |
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Cancle</a>
</form>
@section ValidationScriptSection
{
    <partial name="_ValidationScriptsPartial"></partial>
}