@model Employee
@{
    ViewData["Title"] = "Deteils";
}

<h1>Employee Deteils</h1>


<div>
    <partial name="PartialViews/DeleteDetailsEmployeePartial"></partial>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</div>